# ไม่เอาโฟลเดอร์จำลองสภาพแวดล้อมขึ้นไป (มันหนักและโหลดใหม่ได้)
env/
__pycache__/

# 🚫 ห้ามเอารหัสผ่านขึ้นไปเด็ดขาด!
.env

# ไม่เอาฐานข้อมูลการตั้งค่าขึ้นไป (ให้ผู้ใช้ไปสร้างใหม่เองเครื่องใครเครื่องมัน)
*.db